
<form id="review-form" class="flex flex-col border-black p-4">
  
  <input type="text" id="productname" class="border border-black p-2 mb-4" placeholder="Please Enter Product Name"/>
  <input type="text" id="userReview" class="border border-black p-2 mb-4"
  placeholder="Write a review"/>
  <input type="text" id="img_url" class="border border-black p-2 mb-4"
  placeholder="Upload image source"/>

  <button type="submit">Submit Review</button>

</form>
<div class="Robot">
  <img src="https://cdn.wallpapersafari.com/69/94/utwEMO.jpg"   alt="Definitely Not a Bot">
</div>
<script src="/js/addReview.js"></script>