<form id="review-form">
  
  <input type="text" id="productname"/>
  <input type="text" id="userReview"/>
  <input type="text" id="img_url"/>

  <button type="submit">Submit Review</button>

</form>

<script src="/js/addReview.js"></script>